#demoApp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  width: 300px;
  z-index: 999999;
  font-family: Arial;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#demoApp input, 
#demoApp select, 
#demoApp button {
  width: 100%;
  margin-top: 8px;
  padding: 6px;
}
